.div{
    align-content: center;
}
table{
    background-color: #FFA600;
    width: 100%;
}
table, th, td{
    text-align: center;
    /* width: 100%; */
    border: 1px solid black;
    border-collapse: collapse;
}
/* th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
} */
img{
    width: 400px;
    height: 200px;
}