.konten {
    background-color: rgb(238, 244, 242);
    width: 90;
    height: 350px;
    /* align-content: center; */
    padding: 10px;
    margin:  10px;
    border: 2px solid rgb(152, 141, 131);
    border-radius: 20px;
    text-align: center;
}

.image{
    width: 1000px;
    height: 100px;
    /* padding: 10px; */
}

button {
    border-radius: 5px;
    background-color: blue;
    border: 3px solid rgb(152, 141, 131);
}
