body{
    margin: 0;
}

.register {
    height: 40px;
    width: 100px;
    background-color: rgb(124, 232, 92);
    color: aliceblue;
    position: relative;
    z-index: 1;
    /* left: 100px;
    top: 100px; */
}

.promo{
    position: absolute;
    background-color: yellow;
    padding: 2px 5px;
    color: black;
    border: 1px solid green;
    border-radius: 20px;
    rotate: 45deg;
    top:  -5px;
    right: -25px;
}

.kontak{
    height: 70px;
    width: 70px;
    background-color: aquamarine;
    color: rgb(16, 15, 15);
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(207, 207, 132);
    color: white;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.navbar2{
    height: 30px;
    width: 100%;
    background-color: salmon;
    color: white;
    text-align: center;
    align-content: center;
    position: sticky;
    top: 80px;
}

@media screen and (max-width: 768px){
    .navbar{
        background-color: #f43acf;
    }
}
@media screen and (max-width: 480px){
    .navbar{
        background-color: #d4ffff;
    }
}