* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(32, 44, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}
.navitem {
    /* grid-column: span 4; */
    font-size: 1.5rem;
    /* text-align: left; */
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
    justify-content: space-between;
    display: inline-flex;
    gap: 20px;
}

.navitem a{
    color: white;
}
.navitem a:hover{
    background-color: rgb(75, 134, 185);
}

.logo {
    width: 50px;
    border-radius: 50%;
    position: relative;
    animation: rotateLogo 3s infinite linear;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logonav{
    background-color: #fecd45;
    width: auto;
    max-width: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex: 1;
    /* padding: 20px;
    border-radius: 10px; */
}


.gagah{
    display: flex;
    align-items: center;
    width: 50%;
    max-width: auto;
    justify-content: center;
    align-items: center;
    /* padding: 20px;
    border-radius: 10px; */
}
.profile-image {
    width: 70%;
    height: 70%;
    /* border-radius: 20px;
    margin-right: 20px; */
}
.hello{
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    /* border: 3px solid rgb(20, 19, 18); */
    display: flex;
}

.text-content {
    text-align: left;
}

h1 {
    width: 200%;
    font-size: 48px;
    margin-bottom: 10px;
    background-color: #fef9f9;
    border-radius: 2px;
}

p {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.name {
    font-weight: bold;
}

.image-credit {
    font-size: 12px;
    margin-bottom: 20px;
}

.image-credit a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.read-more {
    padding: 10px 20px;
    background-color: #fef9f9;
    color: #010101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 2px solid rgb(19, 18, 17);
}

.read-more:hover {
    background-color: #333;
}

